<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <div class="row">
        <div class="col-12">
            <%- include('navbar')%>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 h1 text-center my-3">
                Doctors List
            </div>
            <div class="col-12">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Age</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Blood Group</th>
                            <th scope="col">Date added</th>
                            <th scope="col">Last Vist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%patient.forEach((pt)=>{%>
                            <tr>
                                <th scope="row"><%=pt.id%></th>
                                <td><%=pt.name%></td>
                                <td><%=pt.phone%></td>
                                <td><%=pt.age%></td>
                                <td><%=pt.gender%></td>
                                <td><%=pt.bloodGroup%></td>
                                <td><%=pt.createdAt%></td>
                                <td><%=pt.lastVisit%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>